@model MVC_Microsoft_Login.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <html>

    <body>

        <h1>
            Login As <br>
        </h1>

        <hr>

        <a class="1 btn-group" asp-area="" asp-controller="Auth" asp-action="SignIn">
            <img src="~/images/Student Icon_2x.png" />
            <span id="menuHeading">User Login</span>
            <span class="tooltiptext">
                The user portal enables you to login.
            </span>

        </a>

    </body>

    @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

</html>
</div>
